{lang language=$language}Reset Password{/lang}
================================================================================
{notification_logo}

<h1 style="font-size: 16px; font-weight: bold; margin-top: 20px; margin-bottom: 16px;">
  {lang language=$language}Reset your password:{/lang}
</h1>
<p><a href="{$context->getResetPasswordUrl()}">{lang language=$language}Click here to set a new password{/lang}</a></p>
<p>{lang language=$language}If you don't want to change your password, simply ignore this email.{/lang}</p>