<div class="profile_page_section" id="my_work_tasks_own">
    <h2><span class="print_hide">▾ Personal Tasks</span><button class="tiny">+ 작업 추가</button></h2>
    <h2><span class="print_show">내 작업</span></h2>
    <div class="profile_page_tasks profile_page_section_inner">
        <div ng-if="page_model.new_task_own_visible">
            <form class="slim_form slim_form_inline new_task_form ng-pristine ng-valid ang_form" name="new_task_own_form" novalidate="true">
                <div class="select_project_wrapper">
                    <label>제목:</label>
                    <input type="text" name="name" placeholder="제목"/>
                    <label>내용:</label>
                    <textarea name="body" placeholder="내용"></textarea>
                </div>
                <div class="form_buttons small" ng-if="page_model.new_task_project">
                    <button type="submit" class="work_tasks_own_add_start">Add</button>
                    <button type="button" class="work_tasks_own_add_close">취소</button>
                </div>
            </form>
        </div>
        <div id="work_tasks_own_wait" class="start_an">
            <div class="start_gear">
                <svg class="start_svg start_svg_animate" width="42px" height="42px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g sketch:type="MSLayerGroup" transform="translate(-16.000000, -16.000000)" fill="#449DF5">
                        <path d="M39.2681431,58 L34.9143101,58 C34.0843271,58 33.8446337,58 31.5836457,52.2917228 L30.075724,51.6657832 C25.4285349,53.8173365 24.8704429,53.8173365 24.6307496,53.8173365 C24.3230835,53.8173365 23.9778535,53.6804693 23.761414,53.4596567 L20.6829642,50.3847056 C20.0694208,49.7678905 19.9120102,49.6091245 22.3536627,43.959244 L21.7454855,42.4938518 C16,40.3970454 16,40.1433847 16,39.2656094 L16,34.9132305 C16,34.0427547 16,33.8201173 21.7258092,31.5590702 L22.3339864,30.0900282 C19.7563884,24.5478166 19.9334753,24.3689768 20.552385,23.7466869 L23.636201,20.6717358 C23.8526405,20.456398 24.1978705,20.3195307 24.5019591,20.3195307 C24.7255537,20.3195307 25.3068995,20.3195307 30.0327939,22.3542907 L31.5317717,21.7320009 C33.6335605,16 33.9000852,16 34.7318569,16 L39.0856899,16 C39.9138842,16 40.1553663,16 42.4145656,21.711927 L43.9206985,22.3323919 C48.5643101,20.1863133 49.122402,20.1863133 49.3656729,20.1863133 C49.6715503,20.1863133 50.0149915,20.3213556 50.231431,20.5366935 L53.3170358,23.6079948 C53.9180579,24.2120356 54.0879898,24.3835759 51.6463373,30.0371062 L52.2527257,31.5116229 C58,33.6047795 58,33.8566153 58,34.7307408 L58,39.0812948 C58,39.9535955 57.9982112,40.1780578 52.2706133,42.4409298 L51.6660136,43.9099718 C54.2454003,49.4485336 54.0665247,49.6291983 53.4529813,50.2514882 L50.3620102,53.331914 C50.1437819,53.5490767 49.8003407,53.6841191 49.4962521,53.6841191 L49.4962521,53.6841191 C49.2762351,53.6841191 48.6984668,53.6841191 43.9725724,51.6457093 L42.4664395,52.2679991 C40.3646508,58 40.1195911,58 39.2681431,58 L39.2681431,58 Z M35.5403748,55.6239844 L38.6259796,55.6239844 C39.0373935,54.7261351 39.8298126,52.6968499 40.4666099,50.9485987 C40.5793015,50.6365414 40.8172061,50.3865305 41.119506,50.2624375 L43.5468484,49.2587443 C43.8312606,49.1419509 44.1550256,49.1437758 44.4394378,49.2678688 C46.1852641,50.025201 48.2477002,50.8719531 49.181431,51.1931349 L51.3422487,49.0324571 C50.99523,48.0981099 50.1187394,46.1199218 49.3406303,44.453791 C49.1993186,44.1490332 49.1903748,43.7950033 49.3173765,43.481121 L50.3172913,41.057658 C50.4407155,40.7601999 50.6768313,40.5247882 50.9719761,40.4116446 C52.7303237,39.7181838 54.776661,38.8623072 55.6728279,38.4279818 L55.6728279,35.4059526 C54.7659284,34.993526 52.7356899,34.2088203 50.9898637,33.5755811 C50.6804089,33.4642624 50.4317717,33.2270259 50.30477,32.9167934 L49.3048552,30.4896806 C49.181431,30.1867478 49.1832198,29.8454921 49.313799,29.546209 C50.0614991,27.8253313 50.8950596,25.7905714 51.222402,24.8434499 L49.0597956,22.6882468 C48.1332198,23.0295025 46.1244463,23.9127526 44.4287053,24.7029329 C44.1407155,24.8379752 43.8044293,24.8470997 43.5092845,24.7230067 L41.0819421,23.7229633 C40.7903748,23.6025201 40.5542589,23.3634586 40.4379898,23.0641755 C39.7457411,21.3067999 38.8925043,19.2629155 38.4560477,18.3723658 L35.3722317,18.3723658 C34.959029,19.27204 34.1683986,21.3013252 33.5333901,23.0477515 C33.4224872,23.3616337 33.1827939,23.6134695 32.880494,23.7357376 L30.4603066,24.7394308 C30.1723169,24.8580491 29.8521295,24.8562242 29.5659284,24.7321312 C27.8201022,23.974799 25.7505111,23.1280469 24.818569,22.8123398 L22.6577513,24.9693678 C23.0065588,25.9055399 23.8776831,27.883728 24.6575809,29.5535086 C24.8006814,29.8582663 24.8060477,30.2122963 24.679046,30.5261786 L23.6737649,32.9478166 C23.5503407,33.2452748 23.3160136,33.4788616 23.0208688,33.5938301 C21.2625213,34.285466 19.2197615,35.1376928 18.3253833,35.5720182 L18.3253833,38.5958723 C19.2287053,39.0119487 21.2607325,39.7984793 23.0083475,40.4335433 C23.3160136,40.5466869 23.5646508,40.7857484 23.6898637,41.0905062 L24.6879898,43.5121443 C24.8132027,43.8132522 24.8078365,44.152683 24.6808348,44.4519661 C23.9331346,46.1746687 23.0995741,48.2094286 22.7722317,49.1547252 L24.9330494,51.3117532 C25.8578365,50.9686726 27.8666099,50.0854226 29.5641397,49.2970671 C29.8539182,49.1620248 30.1866269,49.1547252 30.4835605,49.2751684 L32.9109029,50.2806865 C33.2060477,50.4011297 33.4367973,50.6383663 33.5530664,50.9376494 C34.2488927,52.695025 35.1039182,54.7370845 35.5403748,55.6239844 L35.5403748,55.6239844 Z M37,44.5377363 C32.8518739,44.5377363 29.4747019,41.1543776 29.4747019,37.0009124 C29.4747019,32.8492722 32.8518739,29.4695633 37,29.4695633 C41.1463373,29.4695633 44.5217206,32.8492722 44.5217206,37.0009124 C44.5217206,41.1543776 41.1463373,44.5377363 37,44.5377363 L37,44.5377363 Z M37,31.8437541 C34.1344123,31.8437541 31.8036627,34.1577232 31.8036627,37.0009124 C31.8036627,39.8495764 34.1344123,42.1635455 37,42.1635455 C39.8655877,42.1635455 42.1945486,39.8477515 42.1945486,37.0009124 C42.1945486,34.1558983 39.8655877,31.8437541 37,31.8437541 L37,31.8437541 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                    </g>
                </svg>
            </div>
            <div class="empty_page_content">리스트를 가져오는 중입니다.</div>
        </div>
        <div id="work_tasks_own_none" class="empty_page_wrapper" style="display:none;">
            <div class="empty_page">
                <div class="empty_page_image"></div>
                <div class="empty_page_content">지금 당장 할 일이 없어요.<br>작업 추가키를 눌려 작업을 추가해주세요..</div>
            </div>
        </div>
        <div id="work_tasks_own_place" class="ng-pristine ng-untouched ng-valid ui-sortable ng-not-empty" style="display:none;">
        </div>
    </div>
</div>