<style>
  .middle-container{
    margin: auto;
    padding: 20px 0;
    width: 50%;
  }
  .button-container{

  }
  .btn-default{
    background-color: #4181F2;
    border-color: #2762CA;
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-right: 10px;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 28px;
    padding: 0px 15px;
    font-size: 12px;
    line-height: 15px;
    border: 1px solid #bbb;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    margin: 0;
  }
</style>
<form method='post' action='--URL--'>
  <div class="middle-container">
    <div class="button-container">
      <input type='hidden' name='token' value='--TOKEN--'/>
      <input type='submit' class ="btn-default" value='--SUBMIT--'/>
    </div>
  </div>
</form>
