'<div class="profile_page_section" id="my_work_tasks_own">
    <h2><span class="print_hide">▾ My Tasks</span><button class="tiny">+ 작업 추가</button></h2>
    <h2><span class="print_show">내 작업</span></h2>
    <div class="profile_page_tasks profile_page_section_inner">
        <div ng-if="page_model.new_task_own_visible">
            <form class="slim_form slim_form_inline new_task_form ng-pristine ng-valid ang_form" name="new_task_own_form" novalidate="true">
                <div class="select_project_wrapper">
                    <label>프로젝트 선택:</label>
                    <div class="select_project_advanced ng-empty ng-valid" ng-model="page_model.new_task_own_project">
                        <select ng-options="option.id as option.name for option in selectable_options" class="slim_control_trigger ng-empty ng-valid" data-qa-id="select-option" slim-control-select="" ng-model="directive_model.project_id" ng-change="chooseProject()" with-tracking-only=""><option value="" ng-show="!skip_empty" selected="selected">Choose...</option><option label="asdf" value="number:1">asdf</option></select>

                    </div>
                </div>
            </form>
        </div>
        <div class="ng-pristine ng-untouched ng-valid ui-sortable ng-not-empty">
            <div class="profile_page_section_group" ng-repeat="project_group in my_tasks">
                <span class="reorder_handle icon icon_reorder_black ui-sortable-handle"></span>
                <a ng-href="projects/1?back_path=my_work" class="profile_page_section_group_label" href="projects/1?back_path=my_work">asdf</a>
                <div class="profile_page_section_group_content">
                    <div class="task_list_group">
                    <h3>Inbox <span ng-bind="task_list_group.task_list.getPrintDates()" class="lighter smaller">09 14 - 09 25</span></h3>
                    <div class="task_list reorder_disabled" project="project_group.project" tasks="task_list_group.tasks" edit-callback="taskUpdated" skip-assignee="true" reorder="false" sort-by-priority="true"><div class="tasks ui-sortable"><div class="task   " task-id="6"><div class="task_view_mode  "><span class="icon size_10 icon_reorder_alt_grey reorder_handle ui-sortable-handle"></span><a data-qa-id="task-complete" href="" class="complete_toggler icon size_16"><span class="icon icon_unchecked_grey size_14" style="display: inline-block;"></span><span class="loader size_16 grey" style="display: none;"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div></span></a><a data-qa-id="open-task-link" href="projects/1/tasks/6?back_path=my_work" class="task_name " object-modal="Task-6-1"><span data-qa-id="task-name">1234</span></a><span class="task_actions_container"><span class="task_actions task_panel not_initialized"><button class="icon icon_options_dropdown_black "></button></span></span></div></div></div></div>
                        <div class="task_list subtask_list" subtasks="task_list_group.subtasks" project="project_group.project" skip-assignee="true">
                            <div class="tasks">
                                멍멍멍멍
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>'